In [2]:
import pandas as pd 
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/Stefania/opt/anaconda3/envs/data_env/lib/python3.7/site-packages (1.3.10)

In [3]:
import pymysql
from sqlalchemy import create_engine

In [7]:
final_df = pd.read_csv('forbes.csv')

In [8]:
final_df.head()

,ID,First Name,Last Name,Position,Worth,Source,Age,Unnamed: 0,Gender,Country,Image
0,5227,Jeff,Bezos,1.0,112.0 BUSD,Technology ==> Amazon,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...
1,2642,Bill,Gates,2.0,90.0 BUSD,Technology ==> Microsoft,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...
2,5422,Warren,Buffett,3.0,84.0 BUSD,Finance and Investments ==> Berkshire Hathaway,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...
3,8183,Bernard,Arnault,4.0,72.0 BUSD,Fashion & Retail ==> LVMH,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...
4,5642,Mark,Zuckerberg,5.0,71.0 BUSD,Technology ==> Facebook,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...

In [9]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 11 columns):
ID            2208 non-null int64
First Name    2208 non-null object
Last Name     2208 non-null object
Position      2208 non-null float64
Worth         2208 non-null object
Source        2208 non-null object
Age           2143 non-null object
Unnamed: 0    2208 non-null int64
Gender        2195 non-null object
Country       2208 non-null object
Image         2208 non-null object
dtypes: float64(1), int64(2), object(8)
memory usage: 189.9+ KB

In [10]:
final_df.drop('Unnamed: 0', axis=1, inplace=True)

In [11]:
final_df.Gender.unique()

array(['None', 'M', 'Male', 'F', nan, 'Female'], dtype=object)

In [12]:
null_cols = final_df.isnull().sum()
null_cols
null_cols[null_cols > 0]

Age       65
Gender    13
dtype: int64

In [33]:
null_displ = final_df[(final_df['Gender'].isnull()==True)]

In [34]:
null_displ = null_displ[['ID', 'First Name', 'Last Name', 'Position', 'Worth', 'Source', 'Age', 'Gender', 'Country', 'Image']]
null_displ

,ID,First Name,Last Name,Position,Worth,Source,Age,Gender,Country,Image
163,7836,Gianluigi,Aponte,164.0,9.3 BUSD,Logistics ==> Shipping,77 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
224,1197,Willi,Liebherr,225.0,7.1 BUSD,Construction & Engineering ==> Construction,NaN,NaN,None,https://specials-images.forbesimg.com/imageser...
309,5024,Tom,Love,310.0,5.8 BUSD,Fashion & Retail ==> retail & gas stations,81 years old,NaN,USA,https://specials-images.forbesimg.com/imageser...
426,3416,Philip,Green,427.0,4.8 BUSD,Fashion & Retail ==> fashion retail,66 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
529,3488,Jack,Dangermond,530.0,4.1 BUSD,Technology ==> mapping software,72 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
581,9068,Stewart,Resnick,582.0,3.9 BUSD,"Food and Beverage ==> agriculture, water",NaN,NaN,None,https://specials-images.forbesimg.com/imageser...
731,6616,Andrew,Cherng,732.0,3.2 BUSD,Food and Beverage ==> restaurants,NaN,NaN,None,https://specials-images.forbesimg.com/imageser...
766,8071,Do,Chang,767.0,3.1 BUSD,Fashion & Retail ==> fashion retail,62 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
1197,7859,Ong,Ong beng seng,1198.0,2.1 BUSD,Diversified ==> diversified,73 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
1260,9780,Chuchat,Petaumpai,1261.0,2.0 BUSD,Finance and Investments ==> motorcycle loans,65 years old,NaN,None,https://specials-images.forbesimg.com/imageser...
1290,4362,Jean-paul,Clozel,1291.0,1.9 BUSD,Healthcare ==> pharmaceuticals,NaN,NaN,Switzerland,https://specials-images.forbesimg.com/imageser...

In [15]:

final_df.Gender.unique()

array(['None', 'M', 'Male', 'F', nan, 'Female'], dtype=object)

In [17]:
display(final_df.loc[26, 'Gender'])

nan

In [59]:

final_df.loc[26, 'Gender'].replace('NaN', 'Female')

'Female'

In [18]:
final_df.loc[26, 'Gender']='Female
display(final_df.loc[26, 'Gender'])

'Female'

In [21]:
final_df.loc[596, 'Gender']

nan

In [22]:
final_df.loc[596, 'Gender']='Female'
display(final_df.loc[596, 'Gender'])

'Female'

In [42]:
final_df.Gender.unique()

array(['None', 'M', 'Male', 'F', 'Female', nan], dtype=object)

In [57]:
final_df["Gender"].fillna("Male", inplace = True)

In [58]:
final_df.isnull().sum(axis = 0)

ID             0
First Name     0
Last Name      0
Position       0
Worth          0
Source         0
Age           65
Gender         0
Country        0
Image          0
dtype: int64