In [1]:
import pandas as pd 
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/Stefania/opt/anaconda3/envs/data_env/lib/python3.7/site-packages (1.3.10)

In [5]:
final_df = pd.read_csv('forbes2.csv')

In [6]:
final_df.head()

,ID,Position,Worth,First Name,Last Name,Age,Gender_cat,Source,Country,Image
0,5227,1,112.0 BUSD,Jeff,Bezos,54,Not Available,Technology ==> Amazon,United States,https://specials-images.forbesimg.com/imageser...
1,2642,2,90.0 BUSD,Bill,Gates,62,Male,Technology ==> Microsoft,None,https://specials-images.forbesimg.com/imageser...
2,5422,3,84.0 BUSD,Warren,Buffett,87,Male,Finance and Investments ==> Berkshire Hathaway,None,https://specials-images.forbesimg.com/imageser...
3,8183,4,72.0 BUSD,Bernard,Arnault,69,Male,Fashion & Retail ==> LVMH,France,https://specials-images.forbesimg.com/imageser...
4,5642,5,71.0 BUSD,Mark,Zuckerberg,33,Male,Technology ==> Facebook,USA,https://specials-images.forbesimg.com/imageser...

# COUNTRY

In [7]:
final_df.Country.unique()

array(['United States', 'None', 'France', 'USA', 'Mexico',
       "People's Republic of China", 'Hong Kong', 'Germany', 'Canada',
       'China', 'Russia', 'South Korea', 'Ireland', 'Indonesia',
       'Australia', 'Czech Republic', 'India', 'Brazil', 'Italy',
       'New Zealand', 'Israel', 'Switzerland', 'Austria', 'Sweden',
       'Cyprus', 'Spain', 'Norway', 'United Kingdom',
       'United Arab Emirates', 'Philippines', 'Denmark', 'Netherlands',
       'Portugal', 'Japan', 'Swaziland', 'Vietnam', 'Thailand', 'Oman',
       'UK', 'Colombia', 'Malaysia', 'Kazakhstan', 'Poland', 'Singapore',
       'Greece', 'Chile', 'Taiwan', 'Turkey', 'South Africa', 'Angola',
       'Guernsey', 'Finland', 'Iceland', 'Egypt', 'Monaco', 'Peru',
       'Argentina', 'Qatar', 'Lebanon', 'St. Kitts and Nevis', 'Nigeria',
       'Tanzania', 'Ukraine', 'Slovakia', 'Venezuela'], dtype=object)

In [9]:
final_df.Country = final_df.Country.astype(str)

In [10]:
final_df.Country.unique()

array(['United States', 'None', 'France', 'USA', 'Mexico',
       "People's Republic of China", 'Hong Kong', 'Germany', 'Canada',
       'China', 'Russia', 'South Korea', 'Ireland', 'Indonesia',
       'Australia', 'Czech Republic', 'India', 'Brazil', 'Italy',
       'New Zealand', 'Israel', 'Switzerland', 'Austria', 'Sweden',
       'Cyprus', 'Spain', 'Norway', 'United Kingdom',
       'United Arab Emirates', 'Philippines', 'Denmark', 'Netherlands',
       'Portugal', 'Japan', 'Swaziland', 'Vietnam', 'Thailand', 'Oman',
       'UK', 'Colombia', 'Malaysia', 'Kazakhstan', 'Poland', 'Singapore',
       'Greece', 'Chile', 'Taiwan', 'Turkey', 'South Africa', 'Angola',
       'Guernsey', 'Finland', 'Iceland', 'Egypt', 'Monaco', 'Peru',
       'Argentina', 'Qatar', 'Lebanon', 'St. Kitts and Nevis', 'Nigeria',
       'Tanzania', 'Ukraine', 'Slovakia', 'Venezuela'], dtype=object)

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2208 entries, 0 to 2207
Data columns (total 10 columns):
ID            2208 non-null int64
Position      2208 non-null int64
Worth         2208 non-null object
First Name    2208 non-null object
Last Name     2208 non-null object
Age           2208 non-null int64
Gender_cat    2208 non-null object
Source        2208 non-null object
Country       2208 non-null object
Image         2208 non-null object
dtypes: int64(3), object(7)
memory usage: 172.6+ KB

In [12]:
final_df['None'].value_counts()

KeyError: 'None'