In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/Stefania/opt/anaconda3/envs/data_env/lib/python3.7/site-packages (1.3.10)

# GET DATA

In [5]:
engine = create_engine('sqlite:////Users/Stefania/downloads/stefaniabraca.db')

In [10]:
query = "select * from personal_info"
dfpersonal_info = pd.read_sql_query(query, engine)
query = "select * from business_info"
dfbusiness_info = pd.read_sql_query(query, engine)
query = "select * from rank_info"
dfrank_info = pd.read_sql_query(query, engine)

In [23]:
def get_main_data(df1, df2, df3):
    merged_df = df1.merge(df2, on='id')
    final_df = merged_df.merge(df3, on='id')
    return final_df

In [24]:
get_main_data(dfrank_info, dfbusiness_info, dfpersonal_info)

,id,name,position,Unnamed: 0_x,Unnamed: 0_y,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0,gender,country,image
0,5227,jeff BEZos,1.0,52,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1,bEZOS,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...
1,2642,bill GATES,2.0,53,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2,GATES,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...
2,5422,warrEN BUFFEtt,3.0,54,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3,bufFETT,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...
3,8183,bernarD ARNAULT,4.0,55,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4,aRNAULt,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...
4,5642,mark zUCKERBerg,5.0,56,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5,zuckeRBERG,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,2255,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,None,2134,zhAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...
2204,1310,zhOU LIANGZHang,2205.0,2256,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,None,2134,zhOU,55 years old,2256,M,China,https://specials-images.forbesimg.com/imageser...
2205,4488,zhu XINGMING,2206.0,2257,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,None,1856,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...
2206,7152,ZHUO JUn,2207.0,2258,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,None,1978,zhUO,52 years old,2258,Female,Hong Kong,https://specials-images.forbesimg.com/imageser...
2207,7214,OLGUN ZORlu,2208.0,2259,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,None,1978,zORLU,54 years old,2259,None,Turkey,https://specials-images.forbesimg.com/imageser...

# Clean Columns

In [25]:
def drop(df, col):
    # drop
    df.drop(col, axis=1, inplace=True)
    #cols = list(final_df.columns.values)
    #cols = ['id', 'name', 'lastName', 'position', 'worth', 'Source', 'age', 'gender', 'country', 'image']
    #final_df = final_df.reindex(columns=cols)
    return df

drop(final_df, 'worthChange')

In [26]:
clean_col_final_df(final_df)

NameError: name 'final_df' is not defined