In [200]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
!pip install sqlalchemy
import pymysql
from sqlalchemy import create_engine

Requirement already satisfied: sqlalchemy in /Users/Stefania/opt/anaconda3/envs/data_env/lib/python3.7/site-packages (1.3.10)

In [201]:
engine = create_engine('sqlite:////Users/Stefania/downloads/stefaniabraca.db')

In [202]:
query = "select * from personal_info"
dfpersonal_info = pd.read_sql_query(query, engine)
query = "select * from business_info"
dfbusiness_info = pd.read_sql_query(query, engine)
query = "select * from rank_info"
dfrank_info = pd.read_sql_query(query, engine)

# Merge Tables To Build DF

In [203]:
def get_main_data(df1, df2, df3):
    merged_df = df1.merge(df2, on='id')
    final_df = merged_df.merge(df3, on='id')
    return final_df

In [204]:
#variable
final_df = get_main_data(dfrank_info, dfbusiness_info, dfpersonal_info)
final_df

,id,name,position,Unnamed: 0_x,Unnamed: 0_y,Source,worth,worthChange,realTimeWorth,realTimePosition,lastName,age,Unnamed: 0,gender,country,image
0,5227,jeff BEZos,1.0,52,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1,bEZOS,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...
1,2642,bill GATES,2.0,53,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2,GATES,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...
2,5422,warrEN BUFFEtt,3.0,54,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3,bufFETT,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...
3,8183,bernarD ARNAULT,4.0,55,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4,aRNAULt,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...
4,5642,mark zUCKERBerg,5.0,56,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5,zuckeRBERG,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,2255,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,None,2134,zhAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...
2204,1310,zhOU LIANGZHang,2205.0,2256,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,None,2134,zhOU,55 years old,2256,M,China,https://specials-images.forbesimg.com/imageser...
2205,4488,zhu XINGMING,2206.0,2257,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,None,1856,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...
2206,7152,ZHUO JUn,2207.0,2258,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,None,1978,zhUO,52 years old,2258,Female,Hong Kong,https://specials-images.forbesimg.com/imageser...
2207,7214,OLGUN ZORlu,2208.0,2259,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,None,1978,zORLU,54 years old,2259,None,Turkey,https://specials-images.forbesimg.com/imageser...

# Drop Columns

In [205]:
def drop(df, list_col_todrop):
    # drop
    df.drop(list_col_todrop, axis=1, inplace=True)
    
    #cols = list(final_df.columns.values)
    #cols = ['id', 'name', 'lastName', 'position', 'worth', 'Source', 'age', 'gender', 'country', 'image']
    #final_df = final_df.reindex(columns=cols)
    return df

In [206]:
#variable
col_todrop = ['worthChange', 'Unnamed: 0_x', 'Unnamed: 0_y', 'realTimeWorth', 'realTimePosition', 'Unnamed: 0', 'image']
#function "drop"
final_df = drop(final_df, col_todrop)

## Separate 'name' Column

In [207]:
def new_name (df):
    col=df["name"].str.split(" ", n = 1, expand = True) 
    df["First Name"]= col[0]
    df["Last Name"]= col[1] 
    return df

In [208]:
new_name(final_df)

,id,name,position,Source,worth,lastName,age,gender,country,First Name,Last Name
0,5227,jeff BEZos,1.0,Technology ==> Amazon,112.0 BUSD,bEZOS,54 years old,None,United States,jeff,BEZos
1,2642,bill GATES,2.0,Technology ==> Microsoft,90.0 BUSD,GATES,62 years old,M,None,bill,GATES
2,5422,warrEN BUFFEtt,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,bufFETT,87 years old,M,None,warrEN,BUFFEtt
3,8183,bernarD ARNAULT,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,aRNAULt,69 years old,M,France,bernarD,ARNAULT
4,5642,mark zUCKERBerg,5.0,Technology ==> Facebook,71.0 BUSD,zuckeRBERG,1985,M,USA,mark,zUCKERBerg
...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,zhAO,51 years old,None,China,zHAO,XIAOQIANG
2204,1310,zhOU LIANGZHang,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,zhOU,55 years old,M,China,zhOU,LIANGZHang
2205,4488,zhu XINGMING,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,zHU,51 years old,M,None,zhu,XINGMING
2206,7152,ZHUO JUn,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,zhUO,52 years old,Female,Hong Kong,ZHUO,JUn
2207,7214,OLGUN ZORlu,2208.0,Diversified ==> diversified,1.0 BUSD,zORLU,54 years old,None,Turkey,OLGUN,ZORlu

In [209]:
def format_data(df): 

    for i in range(df.shape[0]): 
        df.iat[i, 1]= df.iat[i, 1].strip().capitalize() 
        df.iat[i, 5]= df.iat[i, 5].strip().capitalize()
        df.iat[i, 9]= df.iat[i, 9].strip().capitalize() 
  

format_data(final_df) 
final_df.head()

,id,name,position,Source,worth,lastName,age,gender,country,First Name,Last Name
0,5227,Jeff bezos,1.0,Technology ==> Amazon,112.0 BUSD,Bezos,54 years old,None,United States,Jeff,BEZos
1,2642,Bill gates,2.0,Technology ==> Microsoft,90.0 BUSD,Gates,62 years old,M,None,Bill,GATES
2,5422,Warren buffett,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,Buffett,87 years old,M,None,Warren,BUFFEtt
3,8183,Bernard arnault,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,Arnault,69 years old,M,France,Bernard,ARNAULT
4,5642,Mark zuckerberg,5.0,Technology ==> Facebook,71.0 BUSD,Zuckerberg,1985,M,USA,Mark,zUCKERBerg

# Drop Columns

In [210]:
name_drop = ['name', 'Last Name', 'id' ]

In [211]:
drop(final_df, name_drop)

,position,Source,worth,lastName,age,gender,country,First Name
0,1.0,Technology ==> Amazon,112.0 BUSD,Bezos,54 years old,None,United States,Jeff
1,2.0,Technology ==> Microsoft,90.0 BUSD,Gates,62 years old,M,None,Bill
2,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,Buffett,87 years old,M,None,Warren
3,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,Arnault,69 years old,M,France,Bernard
4,5.0,Technology ==> Facebook,71.0 BUSD,Zuckerberg,1985,M,USA,Mark
...,...,...,...,...,...,...,...,...
2203,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,Zhao,51 years old,None,China,Zhao
2204,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,Zhou,55 years old,M,China,Zhou
2205,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,Zhu,51 years old,M,None,Zhu
2206,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,Zhuo,52 years old,Female,Hong Kong,Zhuo
2207,2208.0,Diversified ==> diversified,1.0 BUSD,Zorlu,54 years old,None,Turkey,Olgun

In [212]:
#final_df.columns

In [213]:
#def format_data(df): 

    #for i in range(df.shape[0]): 
        #df.iat[i, 5]= df.iat[i, 5].strip().capitalize()
        #df.iat[i, 9]= df.iat[i, 9].strip().capitalize() 
        #df.iat[i, 10]= df.iat[i, 10].strip().capitalize()   

#format_data(final_df) 
#final_df.head()

In [216]:
col_list = final_df.columns.values
col_list

array(['position', 'Source', 'worth', 'lastName', 'age', 'gender',
       'country', 'First Name'], dtype=object)

In [ ]:
re_order = ['position', 'worth', 'age', 'gender', 'First Name', 'lastName', 'Source', 
       'country']

In [244]:
def cap_col_names (list):
    new_list=(map(lambda x:x.upper(),[list]))
    New_list

In [245]:
cap_col_names(col_list)

NameError: name 'New_list' is not defined