In [3]:
import pandas as pd

In [4]:
raw_df = pd.read_csv('../data/raw_df.csv')

In [5]:
raw_df

,id,lastName,age,Unnamed: 0_x,gender,country,image,Unnamed: 0_y,Source,worth,worthChange,realTimeWorth,realTimePosition,name,position,Unnamed: 0
0,5227,bEZOS,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,jeff BEZos,1.0,52
1,2642,GATES,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,bill GATES,2.0,53
2,5422,bufFETT,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,warrEN BUFFEtt,3.0,54
3,8183,aRNAULt,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,bernarD ARNAULT,4.0,55
4,5642,zuckeRBERG,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,mark zUCKERBerg,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zhAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,zHAO XIAOQIANG,2204.0,2255
2204,1310,zhOU,55 years old,2256,M,China,https://specials-images.forbesimg.com/imageser...,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU LIANGZHang,2205.0,2256
2205,4488,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,zhu XINGMING,2206.0,2257
2206,7152,zhUO,52 years old,2258,Female,Hong Kong,https://specials-images.forbesimg.com/imageser...,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,ZHUO JUn,2207.0,2258
2207,7214,zORLU,54 years old,2259,None,Turkey,https://specials-images.forbesimg.com/imageser...,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,OLGUN ZORlu,2208.0,2259

In [6]:
col_todrop = [ 'worthChange','lastName', 'Unnamed: 0_x', 'Unnamed: 0_y', 'realTimeWorth', 'realTimePosition', 'Unnamed: 0', 'image']

# DROP COL

In [7]:
def drop(df, list_col_todrop):
    drop
    df.drop(list_col_todrop, axis=1, inplace=True)
    cols = list(df.columns.values)
    cols = ['id', 'name', 'position', 'Source', 'worth', 'age', 'gender', 'country']
    df = df.reindex(columns=cols)
    return df

In [8]:
final_df=drop(raw_df, col_todrop)

In [9]:
final_df

,id,name,position,Source,worth,age,gender,country
0,5227,jeff BEZos,1.0,Technology ==> Amazon,112.0 BUSD,54 years old,None,United States
1,2642,bill GATES,2.0,Technology ==> Microsoft,90.0 BUSD,62 years old,M,None
2,5422,warrEN BUFFEtt,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,87 years old,M,None
3,8183,bernarD ARNAULT,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,69 years old,M,France
4,5642,mark zUCKERBerg,5.0,Technology ==> Facebook,71.0 BUSD,1985,M,USA
...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,51 years old,None,China
2204,1310,zhOU LIANGZHang,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,55 years old,M,China
2205,4488,zhu XINGMING,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,51 years old,M,None
2206,7152,ZHUO JUn,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,52 years old,Female,Hong Kong
2207,7214,OLGUN ZORlu,2208.0,Diversified ==> diversified,1.0 BUSD,54 years old,None,Turkey

In [10]:
final_df.name = final_df.name.str.title()
final_df

,id,name,position,Source,worth,age,gender,country
0,5227,Jeff Bezos,1.0,Technology ==> Amazon,112.0 BUSD,54 years old,None,United States
1,2642,Bill Gates,2.0,Technology ==> Microsoft,90.0 BUSD,62 years old,M,None
2,5422,Warren Buffett,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,87 years old,M,None
3,8183,Bernard Arnault,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,69 years old,M,France
4,5642,Mark Zuckerberg,5.0,Technology ==> Facebook,71.0 BUSD,1985,M,USA
...,...,...,...,...,...,...,...,...
2203,7670,Zhao Xiaoqiang,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,51 years old,None,China
2204,1310,Zhou Liangzhang,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,55 years old,M,China
2205,4488,Zhu Xingming,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,51 years old,M,None
2206,7152,Zhuo Jun,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,52 years old,Female,Hong Kong
2207,7214,Olgun Zorlu,2208.0,Diversified ==> diversified,1.0 BUSD,54 years old,None,Turkey

# Re-indexing Cols

In [11]:
reindex_col = ['position', 'worth', 'name', 'age', 'gender', 'Source', 'country']

In [12]:
def reindex (df, list):
    df = df.reindex(columns=list)
    newlist = [w.title() for w in list]
    df.columns = newlist
    return df

In [13]:
final_df = reindex(final_df, reindex_col)

In [14]:
final_df

,Position,Worth,Name,Age,Gender,Source,Country
0,1.0,112.0 BUSD,Jeff Bezos,54 years old,None,Technology ==> Amazon,United States
1,2.0,90.0 BUSD,Bill Gates,62 years old,M,Technology ==> Microsoft,None
2,3.0,84.0 BUSD,Warren Buffett,87 years old,M,Finance and Investments ==> Berkshire Hathaway,None
3,4.0,72.0 BUSD,Bernard Arnault,69 years old,M,Fashion & Retail ==> LVMH,France
4,5.0,71.0 BUSD,Mark Zuckerberg,1985,M,Technology ==> Facebook,USA
...,...,...,...,...,...,...,...
2203,2204.0,1.0 BUSD,Zhao Xiaoqiang,51 years old,None,"Fashion & Retail ==> fashion, entertainment",China
2204,2205.0,1.0 BUSD,Zhou Liangzhang,55 years old,M,Manufacturing ==> electrical equipment,China
2205,2206.0,1.0 BUSD,Zhu Xingming,51 years old,M,Manufacturing ==> electrical equipment,None
2206,2207.0,1.0 BUSD,Zhuo Jun,52 years old,Female,Manufacturing ==> printed circuit boards,Hong Kong
2207,2208.0,1.0 BUSD,Olgun Zorlu,54 years old,None,Diversified ==> diversified,Turkey

# Gender