In [61]:
import pandas as pd
import numpy as np
import pymysql

In [62]:
raw_df = pd.read_csv('../data/raw_df.csv')

In [63]:
raw_df

,id,lastName,age,Unnamed: 0_x,gender,country,image,Unnamed: 0_y,Source,worth,worthChange,realTimeWorth,realTimePosition,name,position,Unnamed: 0
0,5227,bEZOS,54 years old,52,None,United States,https://specials-images.forbesimg.com/imageser...,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,NaN,1,jeff BEZos,1.0,52
1,2642,GATES,62 years old,53,M,None,https://specials-images.forbesimg.com/imageser...,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,NaN,2,bill GATES,2.0,53
2,5422,bufFETT,87 years old,54,M,None,https://specials-images.forbesimg.com/imageser...,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,NaN,3,warrEN BUFFEtt,3.0,54
3,8183,aRNAULt,69 years old,55,M,France,https://specials-images.forbesimg.com/imageser...,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,NaN,4,bernarD ARNAULT,4.0,55
4,5642,zuckeRBERG,1985,56,M,USA,https://specials-images.forbesimg.com/imageser...,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,NaN,5,mark zUCKERBerg,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zhAO,51 years old,2255,None,China,https://specials-images.forbesimg.com/imageser...,2255,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,0.0 millions USD,NaN,2134,zHAO XIAOQIANG,2204.0,2255
2204,1310,zhOU,55 years old,2256,M,China,https://specials-images.forbesimg.com/imageser...,2256,Manufacturing ==> electrical equipment,1.0 BUSD,nan millions USD,NaN,2134,zhOU LIANGZHang,2205.0,2256
2205,4488,zHU,51 years old,2257,M,None,https://specials-images.forbesimg.com/imageser...,2257,Manufacturing ==> electrical equipment,1.0 BUSD,0.0 millions USD,NaN,1856,zhu XINGMING,2206.0,2257
2206,7152,zhUO,52 years old,2258,Female,Hong Kong,https://specials-images.forbesimg.com/imageser...,2258,Manufacturing ==> printed circuit boards,1.0 BUSD,0.0 millions USD,NaN,1978,ZHUO JUn,2207.0,2258
2207,7214,zORLU,54 years old,2259,None,Turkey,https://specials-images.forbesimg.com/imageser...,2259,Diversified ==> diversified,1.0 BUSD,nan millions USD,NaN,1978,OLGUN ZORlu,2208.0,2259

In [64]:
col_todrop = [ 'worthChange', 'Unnamed: 0_x', 'Unnamed: 0_y', 'realTimeWorth', 'realTimePosition', 'Unnamed: 0', 'image']

# DROP COL

In [65]:
def drop(df, list_col_todrop):
    drop
    df.drop(list_col_todrop, axis=1, inplace=True)
    cols = list(df.columns.values)
    cols = ['id', 'name', 'position', 'Source', 'worth', 'lastName', 'age', 'gender', 'country']
    df = df.reindex(columns=cols)
    return df

In [66]:
final_df=drop(raw_df, col_todrop)

In [67]:
final_df

,id,name,position,Source,worth,lastName,age,gender,country
0,5227,jeff BEZos,1.0,Technology ==> Amazon,112.0 BUSD,bEZOS,54 years old,None,United States
1,2642,bill GATES,2.0,Technology ==> Microsoft,90.0 BUSD,GATES,62 years old,M,None
2,5422,warrEN BUFFEtt,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,bufFETT,87 years old,M,None
3,8183,bernarD ARNAULT,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,aRNAULt,69 years old,M,France
4,5642,mark zUCKERBerg,5.0,Technology ==> Facebook,71.0 BUSD,zuckeRBERG,1985,M,USA
...,...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,zhAO,51 years old,None,China
2204,1310,zhOU LIANGZHang,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,zhOU,55 years old,M,China
2205,4488,zhu XINGMING,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,zHU,51 years old,M,None
2206,7152,ZHUO JUn,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,zhUO,52 years old,Female,Hong Kong
2207,7214,OLGUN ZORlu,2208.0,Diversified ==> diversified,1.0 BUSD,zORLU,54 years old,None,Turkey

#  Separate 'name' Column

In [71]:
def new_name (df):
    col=df["name"].str.split(" ", n = 1, expand = True) 
    df["First Name"]= col[0]
    df["Last Name"]= col[1] 
    return df

In [72]:
new_name(final_df)

,id,name,position,Source,worth,lastName,age,gender,country,First Name,Last Name
0,5227,jeff BEZos,1.0,Technology ==> Amazon,112.0 BUSD,bEZOS,54 years old,None,United States,jeff,BEZos
1,2642,bill GATES,2.0,Technology ==> Microsoft,90.0 BUSD,GATES,62 years old,M,None,bill,GATES
2,5422,warrEN BUFFEtt,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,bufFETT,87 years old,M,None,warrEN,BUFFEtt
3,8183,bernarD ARNAULT,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,aRNAULt,69 years old,M,France,bernarD,ARNAULT
4,5642,mark zUCKERBerg,5.0,Technology ==> Facebook,71.0 BUSD,zuckeRBERG,1985,M,USA,mark,zUCKERBerg
...,...,...,...,...,...,...,...,...,...,...,...
2203,7670,zHAO XIAOQIANG,2204.0,"Fashion & Retail ==> fashion, entertainment",1.0 BUSD,zhAO,51 years old,None,China,zHAO,XIAOQIANG
2204,1310,zhOU LIANGZHang,2205.0,Manufacturing ==> electrical equipment,1.0 BUSD,zhOU,55 years old,M,China,zhOU,LIANGZHang
2205,4488,zhu XINGMING,2206.0,Manufacturing ==> electrical equipment,1.0 BUSD,zHU,51 years old,M,None,zhu,XINGMING
2206,7152,ZHUO JUn,2207.0,Manufacturing ==> printed circuit boards,1.0 BUSD,zhUO,52 years old,Female,Hong Kong,ZHUO,JUn
2207,7214,OLGUN ZORlu,2208.0,Diversified ==> diversified,1.0 BUSD,zORLU,54 years old,None,Turkey,OLGUN,ZORlu

In [73]:
def format_data(df): 

    for i in range(df.shape[0]): 
        df.iat[i, 1]= df.iat[i, 1].strip().capitalize() 
        df.iat[i, 5]= df.iat[i, 5].strip().capitalize()
        df.iat[i, 9]= df.iat[i, 9].strip().capitalize() 
  

format_data(final_df) 
final_df.head()

,id,name,position,Source,worth,lastName,age,gender,country,First Name,Last Name
0,5227,Jeff bezos,1.0,Technology ==> Amazon,112.0 BUSD,Bezos,54 years old,None,United States,Jeff,BEZos
1,2642,Bill gates,2.0,Technology ==> Microsoft,90.0 BUSD,Gates,62 years old,M,None,Bill,GATES
2,5422,Warren buffett,3.0,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,Buffett,87 years old,M,None,Warren,BUFFEtt
3,8183,Bernard arnault,4.0,Fashion & Retail ==> LVMH,72.0 BUSD,Arnault,69 years old,M,France,Bernard,ARNAULT
4,5642,Mark zuckerberg,5.0,Technology ==> Facebook,71.0 BUSD,Zuckerberg,1985,M,USA,Mark,zUCKERBerg

In [ ]:
name_drop = ['name', 'Last Name', 'id' ]

In [ ]:
final_df = drop(final_df, name_drop)

# Re-indexing Cols

In [74]:
reindex_col = ['position', 'worth', 'First Name', 'lastName', 'age', 'gender', 'Source', 'country']